.layout_wrapper {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.sidebar_wrapper {
    position: relative;
    width: 4rem;
    min-height: calc(100vh - 67px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.2rem .8rem;

    gap: 2.5rem 0;
    border-right: 1px solid var(--Brand-Colours-Black-background, #ECECEC);
    background: var(--Neutrals-White, #FFF);
}

.icon_styles {
    cursor: pointer;
}

.back_arrow_wrapper {
    background: black;
    position: absolute;
    right: -14px;
    top: 1.2rem;
    padding: 5px;
    border-radius: 50%;
}

.back_arrow {
    color: white;
    cursor: pointer;
}

.navbar_wrapper {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: .6rem;
    gap: 1.2rem;
    background: var(--Neutrals-Off-white-Background, #F9F9F9);
}

.nav_logo_wrapper {
    flex-grow: 0;
    display: flex;
    align-items: center;
}

.navbar_items_wrapper {
    padding:0 .6rem;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 1.2rem;
   
}

.navbar_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}

.nav_text {
    font-size: .8rem;
    font-weight: 600;
}